<section (dblclick) = "edition = !edition"
         [class.edition] = "edition"
>
  <h1>{{data.name}}</h1>
  <div class="meter">
    <div
        [style.width] = "(data.note * 5.5) + 'px'"
        [class.low]   = "data.note < 10"
        [class.ok]    = "data.note >= 10 && data.note <= 14"
        [class.high]  = "data.note > 14"
        [class.max]   = "data.note == 20"
    ></div>
  </div>
  <input min="0" max="20" type="range"
         [(ngModel)] = "data.note"
         [disabled]  = "!edition"
         />
  <label class="score">{{data.note}}</label>
  <label class="id">{{data.id}}</label>
</section>
