$jaugeH: 20px;
$jaugeRadius: 10px;

:host {

  > section {
    position: relative;
    display: inline-flex;
    flex-flow: column;
    width: 120px;
    height: 80px;
    border: solid black 1px;
    box-shadow: 10px 5px 5px grey;
    margin: 8px;
    transition: transform .5s, z-index .5s;
    z-index: 9;
    background-color: white;
    transform: perspective(9cm) scale(0) rotateX(45deg) rotateY(45deg);

    h1 {
      margin: 0;
      width: 100%;
      text-align: center;
      background-color: lightcyan;
      border-bottom: solid grey 1px;

      display: flex;
      flex-flow: row;

      > label:nth-child(1) {
        flex: 1 1;
      }

      > label:nth-child(2) {
        flex: 0 0;
      }
    }


    .meter {
      width: 110px;
      height: $jaugeH;
      border: solid black 2px;
      border-radius: $jaugeRadius;
      margin: 5px;
      margin-bottom: 0px;
      padding: 0;

      > div {
        border-top-left-radius: $jaugeRadius;
        border-bottom-left-radius: $jaugeRadius;
        margin: 0;
        height: $jaugeH;
        overflow: hidden;
      }
    }

    input {
      opacity: 0;
      transition: opacity .5s;
    }

    label.id {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }

    label.score {
      position: absolute;
      left: 0px;
      bottom: 0px;
    }

  }

  > section.open {
    transform: perspective(9cm) scale(1) rotate(0);
  }

  > section.open.edition {
    transform: perspective(9cm) scale(2) rotateY(360deg);
    z-index: 999;

    input {
      opacity: 1;
    }
  }

}

